@use '../../styles/utils.scss' as *;

.card {
  height: 128px;
  min-width: 115px; 
  max-width: 150px;
  height: 128px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
  &:hover {
    opacity: 0.85;
    -webkit-opacity: 0.85;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    box-shadow: 10px 8px 2px rgba(0, 0, 0, 0.459);
    -webkit-box-shadow: 10px 8px 2px rgba(0, 0, 0, 0.459);
  }
  
  @include tn {
    height: 120px;
    min-height: 120px;
  }
  
  @include sm {
    height: 125px;
    min-height: 125px;
  }
  
  @include md {
    height: 130px;
    min-height: 130px;
  }
  
  @include lg {
    height: 135px;
    min-height: 135px;
  }
}

.cardContent {
  padding: 2px;
  margin: 2px;
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}

.cardTitle {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  line-height: 1.3;
  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

.cardDescription {
  font-size: 14px;
  color: #666;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

.cardImage {
  width: 100%;
  height: 80px;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: top;
  object-view-box: initial;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  
  border-radius: 6px;
  margin-bottom: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}