@use '../../styles//utils.scss' as *;

.header {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  height: 60px;
  top: 0;
  z-index: 1000;
  margin: 10px 15px 0 15px;
  padding: 0 20px;
  
  background: #D6BDFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  @include mq-between(tn, lg) {
    background: #95D9FF;
  }
  
  @include mq-down(xs) {
    background: #ADFCC8;
    height: 50px;
    margin: 10px 10px 0 10px;
    padding: 0 15px;
  }
  
  @include mq-down(xxs) {
    padding: 0 10px;
  }
  
  @include tn {
    margin: 5px 5px 0 5px;
  }

  @include mq-up(lg){
    position: fixed;
    width: 98.2%;
  }
}

.rightMenu {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  gap: 19px;
  -webkit-gap: 19px;
  -moz-gap: 19px;
  
  @include mq-down(xs) {
    gap: 15px;
    -webkit-gap: 15px;
    -moz-gap: 15px;
  }
  
  @include mq-down(xxs) {
    gap: 12px;
    -webkit-gap: 12px;
    -moz-gap: 12px;
  }
}

.sqrt {
  height: 21px;
  width: 21px;
  background: #000000;
  opacity: 0.13;
  -webkit-opacity: 0.13;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
  &:hover {
    opacity: 0.5;
    -webkit-opacity: 0.5;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  &:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  
  @include mq-down(xs) {
    height: 18px;
    width: 18px;
  }
}

.cirkle {
  height: 23px;
  width: 23px;
  background: #000000;
  opacity: 0.13;
  -webkit-opacity: 0.13;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
  &:hover {
    opacity: 0.5;
    -webkit-opacity: 0.5;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  &:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  
  @include mq-down(xs) {
    height: 20px;
    width: 20px;
  }
}

.triangl {
  position: relative;
  width: 21px;
  height: 21px;
  background: #000000;
  opacity: 0.13;
  -webkit-opacity: 0.13;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  
  &:hover {
    opacity: 0.5;
    -webkit-opacity: 0.5;
    transform: rotate(90deg) scale(1.1);
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -ms-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
  }
  
  &:active {
    transform: rotate(90deg) scale(0.95);
    -webkit-transform: rotate(90deg) scale(0.95);
    -moz-transform: rotate(90deg) scale(0.95);
    -ms-transform: rotate(90deg) scale(0.95);
    -o-transform: rotate(90deg) scale(0.95);
  }
  
  @include mq-down(xs) {
    width: 18px;
    height: 18px;
  }
}