@use "../../styles/utils" as *;

.footer {
  width: 100%;
  
  background: #D6BDFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  @include mq-between(sm, lg) {
    background: #95D9FF;
  }
  @include mq-between(tn, md) {
    background: #95D9FF;
  }
  
  @include mq-down(xs) {
    background: #ADFCC8;
    margin: 0 10px 0 10px;
    padding: 0 15px;
  }
  
  @include mq-down(xxs) {
    padding: 0 10px;
  }
  
  @include tn {
    margin: 0 5px 0 5px;
  }

  @include mq-up(lg){
      border-top: 2px solid rgba(0, 0, 0, 0.14);
      z-index: 1001;
  }
}

.desc_box {
  padding: 20px 15px;
  
  @include mq-down(sm) {
    padding: 15px 10px;
  }
}

.desc {
  font: 700 14px/1.14 Roboto, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @include mq-down(lg) {
    font-size: 12px;
  }
}

.desc_span0 {
  font: 1em/1.14 Roboto, Helvetica, Arial, serif;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desc_span1 {
  font: 500 0.86em/1.17 Roboto, Helvetica, Arial, serif;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}