@use "../../styles/utils" as *;

.nav {
  position: fixed;
  top: 10px;
  left: -300px;
  width: 300px;
  height: 100svh;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  background: #D6BDFF;
  mix-blend-mode: normal;
  z-index: 1000;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  padding: 80px 20px 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  
  @supports (height: 100svh) {
    height: 100svh;
  }
  
  @include mq-up(lg){
      border-right: 2px solid rgba(0, 0, 0, 0.14);
  }
  
  // @include mq-down(xxs) {
  //   background: #ADFCC8;
  // }


  
  @include mq-down(sm) {
    width: 292px;
    padding: 70px 15px 15px;
    height: -webkit-fill-available;
    height: -moz-available;
  }

  @include mq-down(tn) {
    margin-top: 5px;
    width: 292px;
    padding: 70px 15px 15px;
    height: -webkit-fill-available;
    height: -moz-available;
  }
  
  &.open {
    left: 15px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    
    @include mq-down(tn) {
      left: 0;
      top: 0;
    }
    
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
    -o-transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}

.menuContent {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  gap: 15px;
  -webkit-gap: 15px;
  -moz-gap: 15px;
}

.closeButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  @include mq-up(lg){
    display: none;
  }
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 21.71px;
    height: 4.52px;
    left: 37.24px;
    top: 33.48px;
    background: #000000;
    opacity: 0.4;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
  }
  
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  &:hover {
    &::before,
    &::after {
      background: #333;
      opacity: 0.6;
      -webkit-opacity: 0.6;
    }
  }
}