@use "./styles/utils" as *;

.root {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100svh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  width: 100%;
  background-color: rgb(255 255 255);
  
  @supports (min-height: 100svh) {
    min-height: 100svh;
  }
  
  @include mq-down(md) {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
  }
  
  &.menuOpen {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.contentContainer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 15px 0 15px;
  
  @include mq-down(xs) {
    margin: 10px 10px 0 10px;
  }
  
  @include tn {
    margin: 0;
    padding: 0;
  }
}